name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master  # Déclenchement sur push vers master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist  # Assurez-vous que le dossier build correspond à votre configuration

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
